<div>
  <h1>This is Profile section content</h1>
  <h3 style="color: green;">{{ section.settings.header }}</h3>
  <img src="{{ section.settings.user_img | img_url: '300x300' }}" alt="User photo">
  <p>{{ section.settings.user_bio }}</p>
</div>

{% schema %}
{
  "name": "Profile",
  "settings": [
    {
      "id": "header",
      "type": "text",
      "label": "Header",
      "default": "Hello world"
    },
    {
      "id": "user_img",
      "type": "image_picker",
      "label": "User Photo"
    },
    {
      "id": "user_bio",
      "type": "richtext",
      "label": "User Bio"
    }
  ],
  "presets": [
    {
      "name": "User profile",
      "category": "Profile"
    }
  ]
}
{% endschema %}